

<h1>Donation Center</h1>
<h3>Donation is the greatest nation</h3>


<p>Please visit a non-profit's page to donate</p>

  <% @companies.each do |company| %>
    <%= render '/welcome/company', :object => company %>
  <% end %>


