<h1 class="company"><%= @company.name %> <small>Click to Donate!</small></h1>
<h4>Total Raised:  <%= number_to_currency(@company.total_donation) %></h4>
<%= @company.description %>

<hr>
<div class='col-md-6'>
<%= render '/charges/donate_form'%>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('.company').click(function() {
    $('#payment-form').show()
    });
  });

</script>
